agm-map {
    height: 500px;
}

table {
    width: 100%;
  }

  
.mat-column-endereco{
    width: 40%;
}
.mat-column-latitude{
    width: 25%;
}
.mat-column-longitude{
    width: 25%;
}
.mat-column-Acoes{
    width:10%;
}