<div class="tela-cadastro" fxLayout="column">
	<div  fxLayout="row">
		<mat-toolbar style="background-color: #111E6C;"><h1 style="color: white;">Minha Empresa</h1></mat-toolbar>
	</div>
	<div  fxLayout="row" style="min-height: 15%;" fxLayoutAlign="space-between center">
        <button mat-raised-button style="height: min-content; width: 200px;margin-left: 60px;" (click)="voltar()"><mat-icon>arrow_back</mat-icon> Voltar</button>
		<button mat-raised-button style="height: min-content; width: 200px; margin-right: 60px;" color="accent" (click)="IrParaAdicionarLocalizacao()"><mat-icon>edit_location</mat-icon> Adicionar Localização</button>
		<button mat-raised-button style="height: min-content; width: 200px; margin-right: 60px;background-color: orangered;" (click)="IrParaAdicionarFuncionario()"><mat-icon>person_add</mat-icon> Adicionar Funcionário</button>
		<button mat-raised-button style="height: min-content; width: 200px; margin-right: 60px;" color="primary" (click)="IrParaAdicionarResponsaveis()"><mat-icon>supervisor_account</mat-icon> Adicionar Responsáveis</button>
	</div>
    <div  fxLayout="row" fxLayoutAlign="center start" fxFlex="100%">
        <div class="mat-elevation-z1 template-cadastro" fxLayout="Column" fxFlex="100%">
			<div  fxLayout="row" fxLayoutAlign="space-evenly start" fxFlex="100%">
				<div fxLayout="Column" fxFlex="45%">
					<mat-accordion class="headers-align">
						<mat-expansion-panel>
							<mat-expansion-panel-header style="background-color:#D3D3D3;">
								<mat-panel-title ><strong>Informações</strong></mat-panel-title >
								<mat-panel-description>
									Dados da empresa 
									<mat-icon>business</mat-icon>
								</mat-panel-description>
							</mat-expansion-panel-header>

							<div fxLayout="column">
								<div fxLayout="row" fxFlex="100%" *ngIf="empresa" style="padding-top:40px">
									<mat-label><strong>CNPJ:</strong> {{empresa.CNPJ | cpfCnpj}}</mat-label>
								</div>
								<div
								fxLayout="row" fxFlex="100%" style="padding-top:40px"  *ngIf="empresa">
									<mat-label><strong>Razão Social:</strong> {{empresa.RazaoSocial}}</mat-label>
								</div>
							</div>

						</mat-expansion-panel>
					</mat-accordion>
				</div>
				<div fxLayout="Column" fxFlex="45%">
					<mat-accordion class="headers-align">
						<mat-expansion-panel>
							<mat-expansion-panel-header style="background-color:#D3D3D3;">
								<mat-panel-title ><strong>Responsáveis</strong></mat-panel-title >
								<mat-panel-description>
									Responsáveis com autorização de modificação 
									<mat-icon>group</mat-icon>
								</mat-panel-description>
							</mat-expansion-panel-header>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
			</div>
			<h2>Funcionários</h2>
			<div fxLayout="row" fxLayoutAlign="center start" fxFlex="100%" style="padding-top: 30px;">
				<div fxLayout="Column" fxFlex="100%">
					<table mat-table [dataSource]="dataSource">
						<ng-container matColumnDef="Id">
							<th mat-header-cell *matHeaderCellDef> Id </th>
							<td mat-cell *matCellDef="let element"> {{element.funcionario.id}} </td>
						</ng-container>
						<ng-container matColumnDef="Nome">
							<th mat-header-cell *matHeaderCellDef> Nome </th>
							<td mat-cell *matCellDef="let element"> {{element.funcionario.nome}} </td>
						</ng-container>
						<ng-container matColumnDef="CPF">
							<th mat-header-cell *matHeaderCellDef> CPF </th>
							<td mat-cell *matCellDef="let element"> {{element.funcionario.cpf | cpfCnpj}} </td>
						</ng-container>
						<ng-container matColumnDef="Acoes">
							<th mat-header-cell *matHeaderCellDef> Ações </th>
							<td mat-cell  *matCellDef="let element" style="padding-left: 30px;">
								<button mat-mini-fab style="background-color: green;" (click)="editar(element.id)">
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-mini-fab style="background-color: red;margin-left: 30px;" (click)="openDialog(element.id,urlController)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<div *ngIf="dataSource.length === 0">Sem Registros</div>
					<pagination-data-table [url]="urlController" [(dataSource)]="dataSource"></pagination-data-table>
				</div>
			</div>
		</div>
	</div>
</div>