
<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="over" [(opened)]="opened">
		Sidenav content
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar style="height: 10%;" color="primary">
			<mat-toolbar-row>
				<span>Ponto Eletrônico</span>
				<mat-icon style="margin-left: 14px;" (click)="sidenav.toggle()" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
				<span class="example-fill-remaining-space"></span>
				<mat-icon style="margin-right: 14px;" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
				<mat-icon style="margin-right: 14px;" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
			</mat-toolbar-row>
		</mat-toolbar>
		<div style="height: 90%;" class="imagem-fundo">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>